################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/B Layer/obj/Debug
/A Layer/obj/Debug
/DA Layer/obj/Debug
/P Layer/bin
/P Layer/obj/Debug
/A Layer/bin/Debug
/B Layer/bin/Debug
/DA Layer/bin/Debug
