################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/B Layer/obj/Debug
/A Layer/obj/Debug
/DA Layer/obj/Debug
/P Layer/bin
/P Layer/obj/Debug
/A Layer/bin/Debug
/B Layer/bin/Debug
/DA Layer/bin/Debug
/DA Layer/bin
/A Layer/bin
/B Layer
/B Layer/bin/Release
/DA Layer/obj/Release
/A Layer/obj/Release
/P Layer/obj/Release
/P Layer/Properties/PublishProfiles
/P Layer.Azure/bin/Debug
/P Layer.Azure
/.vs
