@model P_Layer.Models.ForgotPasswordViewModel
@{
    Layout = "../Shared/_LayoutNoAuth.cshtml";
    ViewBag.Title = "Forgot your password?";
}

@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "prihlaseni", role = "form" }))
{
    @Html.AntiForgeryToken()
    <p>Enter your email.</p>
    
    @Html.ValidationSummary("", new { @class = "text-danger" })
    @Html.LabelFor(m => m.UserName)
    @Html.TextBoxFor(m => m.UserName, new { @type = "email" })
    
    <input type="submit" class="button" value="Email Link" />
    
}