@{
    ViewBag.Title = "Forgot Password Confirmation";
    Layout = "../Shared/_LayoutNoAuth.cshtml";
}
<div class="prihlaseni">
    <p>
        Please check your email to reset your password.
    </p>
</div>
	
